<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename= 'styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Video Converter</title>
</head>

<body>
    <script type="text/javascript">// <![CDATA[
        function loading() {
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
    <div class="container my-5 mx-5 d-flex justify-content-center">
        <form action="/upload" onsubmit="loading();" name="file" method="POST" enctype="multipart/form-data" class="w-75">
            <h1>Upload a video:</h1>
            <div class="form-group my-3">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                    placeholder="Enter email" required>
            </div>

            <div class="form-check form-switch form-check-inline">
                <input class="form-check-input" type="checkbox" role="switch" id="resize" value="True" name="resize">
                <label class="form-check-label" for="resize">Resize Video</label>
            </div>

            <div class="form-check form-switch form-check-inline">
                <input class="form-check-input" type="checkbox" role="switch" id="grayscale" value='True'
                    name="grayscale">
                <label class="form-check-label" for="grayscale" value='True'>Change to Grayscale</label>
            </div>

            <div class="my-3">
                <!-- <label for="File" class="form-label">Upload Video</label> -->
                <input class="form-control" type="file" id="File" name="file" required>
            </div>

            <!-- <div class="form-group my-3">
                <label for="File"></label>
                <br>
                <input type="file" class="form-control-file" id="File" >
            </div> -->

            <button id="content" type="submit" class="btn btn-primary my-2">Submit</button>
            <div id="loading">
            </div>
        </form>
    </div>
    <!-- <button type="button" class="btn btn-primary my-2" onclick=loading()>Submit</button> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>